* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- HEADER FOOTER BODY & MAIN -----*/
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}


header,
footer {
    position: relative;
    background-color: rgb(22, 55, 103);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 22px;
}

#logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px; 
    height: auto;
}
 
/* mettre un ID si y a d autres nav*/
nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

main {
    padding: 40px 20px;
}

footer {
    margin-top: 40px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


/* ----- Page FORMATION -----*/

#formations {
    max-width: 1000px;
    margin: auto;
}

#formations h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(22, 55, 103);
}

/* si d autres details penser a mettre une id/classe*/

details {
    background-color: #f4f6fa;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid rgb(22, 55, 103);
    transition: 0.3s;
}

details:hover {
    background-color: #e9eef7;
}

summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(22, 55, 103);
}

details ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

details ul a img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    transition: 0.3s;
}

details ul a img:hover {
    transform: scale(1.05);
}

ul > details {
    width: 100%;
}

/* ----- Page TEMOIGNAGES ------*/

#temoignage h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(22, 55, 103);
}


#histoire1,
#histoire2 {
    background-color: #f4f6fa;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid rgb(22, 55, 103);
    display: flex;
    align-items: center;
    gap: 30px;
}

#histoire1 p {
    text-align: justify;
    margin: 20px;
}

#histoire1 a img,
#histoire2 a img {
    height: auto;
    width: 500px;
    border-radius: 8px;
}

#histoire2 p {
    text-align: justify;
    margin: 20px;
}

#histoire2 {
    flex-direction: row-reverse;
}

/* ----- Page CONTACT ------*/

#ContactId input[type="button"] {
    background-color: #e9eef7;
    color: rgb(22, 55, 103);
    padding: 10px 25px;
    border-color: rgb(22, 55, 103);
    border-radius: 8px;
    cursor: pointer;
}

#ContactId input[type="button"]:hover {
    background-color: #d8e0ef;
    color: rgb(13, 36, 70);
}


#Infos legend,
.Contact legend {
    background-color: #e9eef7;
    border-radius: 8px;
    border-color: rgb(22, 55, 103);
    color: rgb(22, 55, 103);
}

#ContactId {
    max-width: 1000px;
    margin: auto;
    background-color: #f4f6fa;
    padding: 30px;
    border-radius: 8px;
    border-left: 5px solid rgb(22, 55, 103);
}

#ContactId fieldset {
    border: 2px solid rgb(22, 55, 103);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#ContactId legend {
    padding: 5px 10px;
    font-weight: bold;
}

#ContactId p {
    margin-bottom: 15px;
}

#ContactId input[type="text"],
#ContactId select {
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

#ContactId input[type="text"]:focus,
#ContactId select:focus {
    outline: none;
    border-color: rgb(22, 55, 103);
}

.Contact input[type="text"] {
    height: 80px;
}

#ContactId input[type="button"] {
    display: block;
    margin: 20px auto 0 auto;
}

#ContactId textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
    resize: vertical;
}

/* ----- Page ACCUEIL (A MODIFIER IMP2RATIVEMENT) ----- */

#Bienvenu {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(22, 55, 103);
    text-decoration: underline;
}

#AccueilPage p {
    text-align: center;
    margin: 20px;
    font-size: large;
}

#AccueilPage p a {
    color: rgb(22, 55, 103);
    font-weight: bold;
    text-decoration: none;
}

#imgAccueil {
    border-radius: 10%;
}


/* ---- Page Equipes ------*/

.carousel-hid {
    overflow: hidden;
    width: 70%;
    padding: 20px 0;
    margin: auto;
}

.track {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease-in-out;
}

.slide-resp {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}

.slide-resp:hover {
    transform: translateY(-5px);
}

.slide-resp img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.slide-resp p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(22, 55, 103);
    font-size: larger;
    text-align: center;
}

.slide-resp p:hover{
    color: #e60073;
}

.slide-resp a {
    text-decoration: none;
    color: rgb(22, 55, 103);
}


.controls {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

.btn-prev,
.btn-next {
    background-color: rgb(22, 55, 103);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
    background-color: #e60073;
}


#trombinoscope fieldset {
    border: none;
    margin-bottom: 40px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(22, 55, 103);
}

.directeurs img {
    border-radius: 20px;
    width: 100%;
    margin: auto;
}

.directeurs {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease;
    margin: auto; 
}

.directeurs:hover {
    transform: translateY(-5px);
}

.directeurs img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.directeurs p {
   margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(22, 55, 103);
    font-size: larger;
    text-align: center;
}

.directeurs a {
    text-decoration: none;
    color: rgb(22, 55, 103);
}

.directeurs p:hover {
    color: #e60073;
}


/* ------- MEDIA ------ */
@media screen and (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    details ul {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        width: 120px; 
    }

    .slide-resp {
        min-width: 250px;
    }
}
